<!-- MENU -->
<div class="menu_block clearfix">

	<!-- CONTAINER -->
	<div class="container clearfix">

		<!-- LOGO -->
		<div class="logo">
			<a href="{{ site.url }}/" >Juan Hern&aacute;ndez Serrato</a>
		</div><!-- LOGO -->

		<!-- RESPONSIVE BUTTON MENU -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<em></em><em></em><em></em><em></em>
			</button>
		</div><!-- //RESPONSIVE BUTTON MENU -->

		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li class="first active"><a href="{{ site.url }}/" >Inicio</a></li>
				<li class="sub-menu"><a href="javascript:void(0);" >Informaci&oacute;n</a>
					<!-- Mega Menu -->
					<ul class="mega_menu left">
						<h4>Formaci&oacute;n acad&eacute;mica y experiencia</h4>
						<li class="col">
							<h5>Educaci&oacute;n</h5>
							<ol>
								<li><a href="{{ site.url }}/educacion/#profesional" ><span>-</span>Superior</a></li>
								<li><a href="{{ site.url }}/educacion/#diplomados" ><span>-</span>Diplomados</a></li>
								<li><a href="{{ site.url }}/educacion/#cursos" ><span>-</span>Cursos</a></li>
							</ol>
						</li>
						<li class="col">
							<h5>Trabajo</h5>
							<ol>
								<li><a href="{{ site.url }}/experiencia/#e_publicas" ><span>-</span>Entidades P&uacute;blicas</a></li>
								<li><a href="{{ site.url }}/experiencia/#e_privada" ><span>-</span>Empresa Privada</a></li>
								<li><a href="{{ site.url }}/experiencia/#freelance" ><span>-</span>Freelance</a></li>
							</ol>
						</li>
						<li class="col">
							<h5>Curr&iacute;culum vitae</h5>
							<p>Descarga una copia de mi <span class="color_text" onclick="window.location='{{ site.url }}/educacion/#cv'">Hoja de Vida</span>.</p>
						</li>
						<div class="clear"></div>
					</ul><!-- //Mega Menu -->
				</li>
				<li class="sub-menu"><a href="javascript:void(0);" >Sobre m&iacute;</a></li>
				<li class="sub-menu"><a href="javascript:void(0);" >Proyectos</a>
					<ul>
						<li><a href="http://mybiotifulbag.us" target="_blank" ><span>-</span>PHP MVC Framework</a></li>
					</ul>
				</li>
				<li class="last"><a href="contacts.html" >Contacto</a></li>
			</ul>
		</div>
	</div><!-- //CONTAINER -->
</div><!-- //MENU -->